@font-face {
    font-family: 'OpenSans-Bold';
    src: url(../fonts/OpenSans-Bold.ttf);
}

@font-face {
    font-family: 'OpenSans-Regular';
    src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: 'Roboto-Black';
    src: url(../fonts/Roboto-Black.ttf);
}

@font-face {
    font-family: 'Roboto-Light';
    src: url(../fonts/Roboto-Light.ttf);
}

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

 :active,
 :hover,
 :focus {
    outline: 0;
    outline-offset: 0;
}

.clearfix::after {
    display: table;
    content: "";
    clear: both;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: lpx;
    height: lpx;
    margin: -lpx;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.tittle-main {
    font-family: 'Roboto-Black', sans-serif;
    font-size: 48px;
    text-align: center;
    text-transform: uppercase;
    color: #515151;
    margin: 0 auto 92px;
}

.tittle-main::after {
    display: block;
    content: "";
    background-color: #1abc9c;
    height: 7px;
    width: 164px;
    margin: 30px auto 0;
}


/* header */

.header {
    width: 1100px;
    margin: 38px auto 32px;
}

header img {
    max-width: 100%;
    padding-top: 3px;
}

.logo {
    float: left;
}


}
.link-nav {
    float: right;
    width: 1010px;
}
.link-nav ul {
    float: right;
    margin: 11px 0 0 0;
    padding: 0;
    list-style: none;
}
.link-nav li {
    float: left;
    text-transform: uppercase;
    font-family: 'OpenSans-Bold', sans-serif;
    font-size: 14px;
}
.link-nav li:not(:last-child) {
    margin-right: 31px;
}
.link-nav a {
    text-decoration: none;
    color: #0f0101;
    transition-duration: 0.2s;
}
.link-nav a:hover {
    color: #1abc9c;
    cursor: pointer;
}
.link-nav :focus {
    color: #1abc9c;
}
.link-nav a:active {
    color: #2a2a2a;
}

/* main */
main {
    background-color: #e9f0fd;
}

/* slider */
.slider {
    margin-bottom: 101px;
    position: relative;
}
.slides {
    list-style: none;
    margin: 0;
    padding: 0;
}
.slide-item {
    position: relative;
}
.slider img {
    width: 100%;
    height: 600px;
    object-fit: cover;
    margin: auto;
    background-size: cover;
    filter: brightness(52%);
}
.slide-text {
    position: absolute;
    top: 219px;
    left: 50%;
    transform: translatex(-50%);
}
.slider-tittle {
    font-family: 'Roboto-Black', sans-serif;
    font-size: 60px;
    text-align: left;
    text-transform: uppercase;
    color: #fff;
    margin: 0 0 36px 0;
}
.slider-desc {
    font-family: 'Roboto-Light', sans-serif;
    font-size: 24px;
    text-align: left;
    text-transform: uppercase;
    color: #fff;
    margin: 0;
    padding: 0;
}
.slider-button {
    width: 104px;
    height: 104px;
    position: absolute;
    background-color: #1abc9c;
    opacity: 0.65;
    border: none;
    outline: none;
    transition: opacity .4s ease;
    z-index: 1;
}
.right-arrow {
    top: 50%;
    right: 224px;
    transform: translatey(-50%);
}
.left-arrow {
    top: 50%;
    left: 224px;
    transform: translatey(-50%);
}
.right-arrow::before,
.left-arrow::before {
    content: "";
    --s: 28px;
    --bd: 4px solid #fff;
    width: var(--s);
    height: var(--s);
    border-left: var(--bd);
    border-top: var(--bd);
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}
.right-arrow::before {
    left: 45%;
    transform: translate(-50%, -50%) rotate(135deg);
}
.left-arrow::before {
    left: 55%;
    transform: translate(-50%, -50%) rotate(-45deg);
}
.slider-button:hover,
.slider-button:focus {
    background-color: #4ec6ab;
    opacity: 1;
    cursor: pointer;
}

/* product */

/* card */
section {
    width: 1110px;
    margin: auto;
}
.product {
    padding-bottom: 100px;
}
.cart {
    width: 255px;
    height: 322px;
    float: left;
    background: #e9f0fd;
    margin: 0 30px 30px 0;
    position: relative;
}
.cart:nth-child(4n-7) {
    margin: 0 0 30px 0;
}
.cart-img-wrp {
    position: relative;
    overflow: hidden;
    height: 282px;
    width: 255px;
}
.cart img {
    vertical-align: middle;
    max-width: 100%;
}
.cart-tittle {
    margin-left: 14px;
}
.card-text-wrp {
    height: calc(322px - 283px);
    line-height: calc(322px - 283px);
    background: #323232;
    overflow: hidden;
    color: #fff;
    font-size: 18px;
    font-family: 'Roboto-Light', sans-serif;
    text-transform: uppercase;
    transition-duration: 0.3s;
}
.cart-price {
    float: right;
    background: #8c8c8c;
    padding: 0 12px;
    transition-duration: 0.3s;
}

/* hover button */
.hover-btn-wrp::before {
    position: absolute;
    content: "";
    width: 235px;
    height: 261px;
    background-color: #000;
    opacity: 55%;
}
.hover-btn-wrp {
    position: absolute;
    width: 235px;
    height: 261px;
    margin: 11px 0 0 10px;
    opacity: 0;
    transition-duration: 0.3s;
}
.icons {
    position: absolute;
    padding: 0;
    margin: 0;
    list-style: none;
    margin: 79px 0 0 35px;
}
.icons li {
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    display: inline-block;
    margin: 0;
    padding: 0;
    border: 1px solid #fff;
    transition-duration: 0.3s;
}
.icons li {
    float: left;
}
.icons li:nth-child(1) {
    margin-right: 9px;
    background-image: url(../images/like.png);
    background-position: center;
    background-repeat: no-repeat;
}
.icons li:nth-child(2) {
    margin-right: 7px;
    background-image: url(../images/comparison.png);
    background-position: center;
    background-repeat: no-repeat;
}
.icons li:nth-child(3) {
    background-image: url(../images/time.png);
    background-position: center;
    background-repeat: no-repeat;
}
.icons li:nth-last-child(1) {
    margin-top: 7px;
    width: 166px;
    height: 50px;
    background-color: #323232;
    background-image: url(../images/add-to-card.png);
    background-position: center;
    background-repeat: no-repeat;
}

/* card hover */
.cart:hover .card-text-wrp {
    background: #1abc9c;
}
.cart:hover .cart-price {
    background: #7fd9c7;
}
.cart:hover .hover-btn-wrp {
    opacity: 100%;
}
.icons li:hover {
    background-color: #1abc9c;
    cursor: pointer;
}

/* footer */
footer {
    position: relative;
    height: 88px;
    width: 100%;
    background-color: #323232;
}
.footer {
    font-family: 'OpenSans-Regular', sans-serif;
    font-size: 16px;
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    color: #fefefe;
}
.designed {
    color: #46bfa9;
}