@import url('https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

/* font-family: Roboto, sans-serif; */


/* font-family: Montserrat, sans-serif; */

:active,
:hover,
:focus {
    outline: 0;
    outline-offset: 0;
}


/* mobile css <768px*/


/* header */

header {
    padding-top: 20px;
    color: #fff;
    width: 100%;
    min-height: 540px;
}

.header-wrapper::before {
    position: absolute;
    z-index: -1;
    width: 100%;
    min-height: 540px;
    content: '';
    background-image: url(../images/backgrounds/background-header-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: brightness(85%);
}

.nav-margin {
    margin-bottom: 0px;
}

.logo {
    display: flex;
    justify-content: center;
}

.logo-margin {
    margin-bottom: 40px;
}

.logo a {
    display: block;
}

.logo img {
    display: block;
}

.account {
    display: flex;
    justify-content: center;
}

.account-margin {
    margin-bottom: 120px;
}

.account button {
    border: 2px solid transparent;
    border-radius: 20px;
    background: transparent;
    color: #fff;
    cursor: pointer;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    padding: 10px 15px;
    transition: .4s ease-in-out;
}

.login {
    margin-right: 20px;
}

.login:hover,
.signup:hover {
    border: 2px solid #fff;
}

.header-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-title h2 {
    font-family: Montserrat, sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 20px 0;
}

.header-title p {
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-weight: lighter;
    text-align: center;
    margin: 0 0 20px 0;
}

.find-partner {
    display: flex;
    justify-content: center;
}

.find-partner button {
    border: 2px solid transparent;
    border-radius: 20px;
    cursor: pointer;
    background: #ff4e50;
    color: #fff;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    width: 280px;
    height: 40px;
    padding: 0;
    transition: .2s ease-in;
}

.find-partner button:hover {
    border: 2px solid #fff;
    background: #ff4245;
}

.header-margin {
    margin-bottom: 75px;
}


/* partners */

.partners {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.partners h2 {
    font-family: Montserrat, sans-serif;
    font-size: 22px;
    font-weight: bold;
    color: #333333;
    text-align: center;
    margin: 0;
}

.partners-title-margin {
    margin-bottom: 20px;
}

.partners-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 220px;
    cursor: pointer;
    margin: 0 auto;
}

.cart-images {
    position: relative;
    margin: 0 0 20px 0;
}

.cart-img-wrp {
    border-radius: 50%;
    width: 122px;
    height: 122px;
    overflow: hidden;
}

.partners-item img {
    border-radius: 50%;
    width: 122px;
    transition: .2s ease;
}

.partners-item:hover img {
    transform: scale(1.1);
}

.icon {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 10;
    width: 32px;
    height: 32px;
    border: 3px solid #fff;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.icon-tv {
    background-color: #ff4e50;
    background-image: url(../images/icons/Shape-128.png);
}

.icon-sci {
    background-color: #ffa507;
    background-image: url(../images/icons/Shape-155.png);
}

.icon-tea {
    background-color: #1cd7ad;
    background-image: url(../images/icons/Shape-153.png);
}

.icon-fly {
    background-color: #4e73db;
    background-image: url(../images/icons/Shape-170.png);
}

.partner-name {
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #333333;
    text-align: center;
    margin: 0 0 20px 0;
}

.partner-bio {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: lighter;
    color: #666666;
    text-align: center;
    margin: 0
}

.partners-item:not(:nth-last-child(1)) {
    margin-bottom: 30px;
}

.other-partners {
    display: flex;
    justify-content: center;
}

.other-partners button {
    border: 2px solid #ff4e50;
    border-radius: 20px;
    background: transparent;
    color: #ff4e50;
    cursor: pointer;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    width: 280px;
    height: 40px;
    padding: 0;
    transition: .2s ease-in;
    margin: 0 0 55px 0;
}

.other-partners button:hover {
    background: #ff9496;
    color: #fff;
}

.team-cards [class*="col-"]:not(:last-child) {
    margin-bottom: 30px;
}


/* tablet css */

@media screen and (min-width: 768px) {
    header {
        min-height: 700px;
    }
    .header-wrapper::before {
        min-height: 700px;
        background-image: url(../images/backgrounds/background-header-tablet.png);
        filter: brightness(68%) contrast(1.2);
    }
    .account {
        justify-content: flex-end;
    }
    .nav-margin {
        margin-bottom: 155px;
    }
    .logo-margin {
        margin-bottom: 0;
    }
    .account-margin {
        margin-bottom: 0;
    }
    .header-title h2 {
        font-size: 52px;
        width: 540px;
        margin: 0 0 47px 0;
    }
    .header-title p {
        font-size: 24px;
        margin: 0 0 40px 0;
    }
    .partners-title-margin {
        margin-bottom: 40px;
    }
}


/* desctop css */

@media screen and (min-width: 940px) {
    .header-wrapper::before {
        min-height: 700px;
        background-image: url(../images/backgrounds/background-header-desktop.png);
        filter: brightness(97%);
    }
    .team-cards [class*="col-"]:not(:last-child) {
        margin-bottom: 40px;
    }
}