@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoSlab';
    src: url(../fonts/RobotoSlab-Regular.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: lpx;
    height: lpx;
    margin: -lpx;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/* header */

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 auto 128px;
    width: 940px;
    height: 65px;
}

.logo {
    position: relative;
}

.logo img {
    position: absolute;
    bottom: -7px;
    display: block;
}

.logo a {
    cursor: pointer;
}

header ul {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0;
    padding: 0;
    width: 485px;
}

header li {
    list-style: none;
}

header a {
    font-family: Montserrat, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    line-height: 14px;
    text-decoration: none;
    text-transform: uppercase;
    color: #222222;
    transition: 150ms linear;
}

header a:hover {
    color: #fed136;
}


/* main */

.services {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services-title {
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -1px;
    text-transform: uppercase;
    color: #222222;
    margin: 0 0 24px 0;
}

.services-description {
    font-family: serif;
    font-weight: normal;
    font-style: italic;
    font-size: 16px;
    color: #777777;
    margin: 0 0 80px 0;
}

.services-items {
    width: 940px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 122px;
}

.services-clause {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 290px;
}

.services-clause h3 {
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: -0.45px;
    color: #222222;
    margin: 0 0 21px 0;
}

.services-clause p {
    font-family: RobotoSlab, serif;
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -1px;
    text-align: center;
    color: #777777;
    margin: 0;
}

.services-clause::before {
    display: block;
    width: 41px;
    height: 39px;
    content: '';
    background-position: center;
    background-repeat: no-repeat;
    border: 3px solid #fed136;
    border-radius: 50%;
    padding: 15px;
    margin-bottom: 28px;
}

.services-clause:nth-child(1)::before {
    background-image: url(../images/icons/Icon-Basket.png);
}

.services-clause:nth-child(2)::before {
    background-image: url(../images/icons/Icon-Laptop.png);
}

.services-clause:nth-child(3)::before {
    background-image: url(../images/icons/Icon-Locked.png);
}


/* footer */

footer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #222222;
    padding-top: 111px;
}

footer::before {
    position: absolute;
    top: 119px;
    right: 0;
    content: "";
    background-image: url(../images/footer-background/Map-Image.png);
    width: 614px;
    height: 537px;
    background-repeat: no-repeat;
}

.footer-title {
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -1px;
    text-transform: uppercase;
    color: #fff;
    margin: 0 0 28px 0;
}

.footer-description {
    font-family: serif;
    font-weight: normal;
    font-style: italic;
    font-size: 16px;
    color: #777777;
    margin: 0 0 78px 0;
}

.contact-us {
    width: 940px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-text-wrp {
    display: flex;
    align-content: center;
    font-size: 0;
    margin-bottom: 30px;
}

.contact-input {
    display: flex;
    flex-direction: column;
}

.contact-input input {
    width: 455px;
    height: 50px;
    border: none;
    border-radius: 3px;
    background-color: #fff;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: -0.35px;
    text-indent: 20px;
    text-transform: uppercase;
    color: #666666;
}

.contact-input input:nth-child(-n+2) {
    margin: 0 26px 30px 0;
}

.contact-input input::placeholder {
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 14px;
    line-height: 50px;
    letter-spacing: -0.35px;
    text-indent: 20px;
    text-transform: uppercase;
    color: #bbbbbb;
    padding: auto 0;
}

.contact-textarea textarea {
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: -0.35px;
    text-transform: uppercase;
    color: #666666;
    width: 457px;
    height: 210px;
    border: none;
    border-radius: 3px;
    background-color: #fff;
    resize: none;
    overflow: auto;
    padding: 20px;
    margin: 0;
}

.contact-textarea textarea::placeholder {
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: -0.35px;
    text-transform: uppercase;
    color: #bbbbbb;
}

.contact-us button {
    width: 240px;
    height: 65px;
    border: 0;
    border-radius: 3px;
    background-color: #fed136;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 18px;
    line-height: 65px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    cursor: pointer;
    margin-bottom: 115px;
    transition: 150ms linear;
}

.contact-us button:hover {
    box-shadow: 0 0 9px #5d5d5d;
}

input[type="email"]:focus:invalid,
textarea[name="body"]:focus:invalid,
input[name="name"]:focus:invalid {
    outline-color: red;
    transition: outline-color .5s;
}

input[type="email"]:focus:valid,
textarea[name="body"]:focus:valid,
input[name="name"]:focus:valid {
    outline-color: green;
    transition: outline-color .4s;
}

.contact-input,
.contact-textarea {
    outline: 5px solid transparent;
    outline-offset: -2px;
    transition: outline-color .1s;
}